---
layout: "wrapper"
---
<div class="pageheader">
<img class="postcover" src= {{page.image}} alt="image">
<div style="float: left; margin: 50px; width:50%;">
<h1 style="margin-top: 00px;">{{page.title}}</h1>
<div class="background" style="animation: fadeIn ease 2.5s; background-image: url('{{page.image}}');">
</div>

{% for tag in page.tags %} 
<a href="/my-work.html">
<button type="button" class="pill" id={{tag}} onclick="tagClick(this)">    
<center><i>{{tag}}</i></center>
</button>
</a>
{% endfor %}
<strong><p style="clear: both;"><i class="fa-solid fa-user" style="font-size:20px; margin-left: 4px; color: teal;"></i> {{page.roles}}</p></strong>
<strong><p><i class="fa-solid fa-calendar-days" style="font-size:20px; margin-left: 4px; color: teal;"></i> {{page.startDate}} - {{page.endDate}}</p></strong>
<strong><p><i class="fa-solid fa-screwdriver-wrench" style="font-size:20px; margin-left: 4px; color: teal;"></i> {{page.engine}}</p></strong>
<strong><p><i class="fa-solid fa-people-group" style="font-size:20px; margin-left: 4px; color: teal;"></i> {{page.teamSize}}</p></strong>
</div>
</div>

<div style="clear: both;">
{{ content }}
</div>
