---
layout: "wrapper"
---

<img class="postcover" src= {{page.image}} alt="image">
<div style="float: left;">
<h1 style="margin: 0px;">{{page.title}}</h1>
<div class="background" style=" animation: fadeIn ease 2.5s; background-image: url('{{page.image}}');">
</div>

{% for tag in page.tags %} 
<a href="/my-work.html">
<button type="button" class="pill" id={{tag}} onclick="tagClick(this)">    
<center><i>{{tag}}</i></center>
</button>
</a>
{% endfor %}
<strong><p style="clear: both;">🙍 {{page.roles}}</p></strong>
<strong><p>🗓️ {{page.startDate}} - {{page.endDate}}</p></strong>
<strong><p>🖥️ {{page.engine}}</p></strong>
<strong><p>👥 {{page.teamSize}}</p></strong>
</div>


<hr style="clear: both;">
{{ content }}


